# Public endpoint of mtm-to-nym-service
NEXT_PUBLIC_MTM_SERVICE_URL=http://localhost:3000

# NYM chain RPC endpoint
NEXT_PUBLIC_NYX_RPC_URL=https://rpc.nymtech.net

# ETH chain RPC endpoint
ETH_RPC_URL=
