# ENV for registry operations

# Bond to use
REGISTRY_BOND_ID=230cfedda15e78edc8986dfcb870e1b618f65c56e38d2735476d2a8cb3f25e38

# Target deployer LRN
DEPLOYER_LRN=lrn://vaasl-provider/deployers/webapp-deployer-api.apps.vaasl.io

# Authority to deploy the app under
AUTHORITY=laconic
